<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{base.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="stylesheet" href="/scripts/searcher.css">
    <script src="/scripts/searcher.js"></script>
</head>
<body>

<div>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="/scripts/manta.webp" class="image" alt="code lyoko manta logo"/>
            </a>

            <!--
            todo mobile...
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            -->
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                {{#each base.crumbs}}
                    <a class="navbar-item" href="{{href}}">
                        {{name}}
                    </a>
                {{/each}}
            </div>

            <div class="navbar-end">
                {{#each base.tools}}
                    <a class="navbar-item" href="{{href}}">
                        {{name}}
                    </a>
                {{/each}}
            </div>
        </div>
    </nav>
</div>

<div id="wrapper">
    {{#with body}}
        {{> @partial-block }}
    {{/with}}
</div>

<div class="section" id="eof">
    <div class="container">
        EOF
    </div>
</div>

</body>
</html>