{{#> base_html}}
    <h1 class="title">Browse Path {{body.root_title}} with {{len body.children}}</h1>
    {{#if body.parent_xrn}}
        <div class="">
            <a href="/{{parent_xrn}}">Up</a>
        </div>
    {{/if}}
    {{#each body.children}}
        <div class="">
            <a href="/{{xrn}}">{{name}}</a>
        </div>
    {{/each}}
{{/base_html}}
